<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlHZ1_Nccmv9X785OXm-r0TwfjsEtbNYY</string>
	<key>GCM_SENDER_ID</key>
	<string>868547243435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Elizabeth.Mama-Care</string>
	<key>PROJECT_ID</key>
	<string>mamacare-6781a</string>
	<key>STORAGE_BUCKET</key>
	<string>mamacare-6781a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868547243435:ios:fc883fc3c5440e5c07b6ee</string>
</dict>
</plist>